In [2]:
import pandas as pd

In [13]:
dat1 = pd.read_csv("submission.csv")

dat2 = pd.read_csv("Log_reg_submit2.csv")

In [14]:
cols =['toxic', 'severe_toxic', 'obscene','threat','insult','identity_hate']

In [15]:
submit = pd.read_csv("sample_submission.csv")

In [16]:
submit.head()

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.5,0.5,0.5,0.5,0.5,0.5
1,0000247867823ef7,0.5,0.5,0.5,0.5,0.5,0.5
2,00013b17ad220c46,0.5,0.5,0.5,0.5,0.5,0.5
3,00017563c3f7919a,0.5,0.5,0.5,0.5,0.5,0.5
4,00017695ad8997eb,0.5,0.5,0.5,0.5,0.5,0.5

In [21]:
split = 0.35

for col in cols:
    
    submit[col] = (split*dat1[col] +(1-split)*dat2[col])

In [22]:
submit.head()

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.999107,0.196199,0.993548,0.021025,0.957204,0.150556
1,0000247867823ef7,0.004379,0.002363,0.003750,0.001033,0.006933,0.002073
2,00013b17ad220c46,0.007640,0.001247,0.005172,0.000580,0.007088,0.001438
3,00017563c3f7919a,0.003257,0.001510,0.001964,0.000471,0.001539,0.000347
4,00017695ad8997eb,0.010234,0.001011,0.002615,0.000809,0.005593,0.001717

In [23]:
submit.to_csv('ensemble_lstm+logreg.csv', index=False)

In [ ]:
#0.9813